
<!-- ASIDE -->
<div id="aside" class="col-md-3">
    <!-- aside Widget -->
    <div class="aside">
        <h3 class="aside-title">دسته بندی</h3>
        <div class="checkbox-filter">
            @foreach (var item in ViewBag?.AllCategory as List<CategoryViewModel>)
            {
            <div class="input-checkbox">
                @if (ViewBag?.SelectCategory == item.Name)
                {
                    <input type="checkbox" id="category-1" checked="checked" disabled="disabled">
                }
                else
                {
                    <input type="checkbox" id="category-1">
                }
                <label for="category-1">
                    <a asp-action="Store" asp-controller="Home" asp-route-Category="@item.Name"><span></span></a>
                    @item.Name
                </label>
            </div>
        
            }

        </div>
    </div>
    <!-- /aside Widget -->
    <!-- aside Widget -->
    <div class="aside">
        <h3 class="aside-title">Price</h3>
        <div class="price-filter">
            <div id="price-slider"></div>
            <div class="input-number price-min">
                <input id="price-min" type="number">
                <span class="qty-up">+</span>
                <span class="qty-down">-</span>
            </div>
            <span>-</span>
            <div class="input-number price-max">
                <input id="price-max" type="number">
                <span class="qty-up">+</span>
                <span class="qty-down">-</span>
            </div>
        </div>
    </div>
    <!-- /aside Widget -->
    <!-- aside Widget -->
    <div class="aside">
        <h3 class="aside-title">Brand</h3>
        <div class="checkbox-filter">
            <div class="input-checkbox">
                <input type="checkbox" id="brand-1">
                <label for="brand-1">
                    <span></span>
                    SAMSUNG
                    <small>(578)</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" id="brand-2">
                <label for="brand-2">
                    <span></span>
                    LG
                    <small>(125)</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" id="brand-3">
                <label for="brand-3">
                    <span></span>
                    SONY
                    <small>(755)</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" id="brand-4">
                <label for="brand-4">
                    <span></span>
                    SAMSUNG
                    <small>(578)</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" id="brand-5">
                <label for="brand-5">
                    <span></span>
                    LG
                    <small>(125)</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" id="brand-6">
                <label for="brand-6">
                    <span></span>
                    SONY
                    <small>(755)</small>
                </label>
            </div>
        </div>
    </div>
    <!-- /aside Widget -->
    <!-- aside Widget -->
    <div class="aside">
        <h3 class="aside-title">پر فروش ترین ها</h3>
        @{ 
            List<ProductViewModel> GetAll = ViewBag?.Product as List<ProductViewModel>;
        }
        @foreach (var item in GetAll.Take(4).ToList())
        {
            <div class="product-widget">
                <div class="product-img">
                    <img width="64" height="64" src=@Url.Content($"~/img/{item.Images[0].FileName}") alt="">
                </div>
                <div class="product-body">
                    <p class="product-category">@item.Category.Name</p>
                    <h3 class="product-name"><a href="#">@item.Title</a></h3>
                     @if (item.DiscountPrice > 0)
                {
                    <h4 class="product-price">ریال @item.Price.Value.ToString("0,0")<del class="product-old-price">ریال @item.Price.Value.ToString("0,0")</del></h4>
                }
                else

                {
                    <h4 class="product-price">ریال @item.Price.Value.ToString("0,0")</h4>
                }
                </div>
            </div>
        }





    </div>
    <!-- /aside Widget -->
</div>
<!-- /ASIDE -->
